/* Container for the entire dashboard */


/* Graph container to fill card */
.card dcc.Graph {
    height: 100%;
}
/* assets/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1, h2, h4 {
    color: #333;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 20px;
}

label, p {
    margin-bottom: 5px;
}

input, .dropdown, .button {
    margin-bottom: 10px;
}
